<div class="conTainer bg-yellow-200">
  <div class="card">
    <h1 class="text-center mb-4">Password Genrator</h1>
    <div class="mt-3 w-100 flex gap-4 items-center justify-center">
      <label for="lenght">Lenght</label>
      <input
        type="text"
        class="rounded-3xl border p-1 text-center"
        (input)="getLength($event)"
      />
    </div>

    <div>
      <input
        type="checkbox"
        name=""
        id="useLetters"
        (change)="onChangeUseLetters()"
      />
      <label for="useLetters" class="ms-mian">Use Letters</label>
    </div>

    <div>
      <input
        type="checkbox"
        name=""
        id="useNumbers"
        (change)="onChangeUserNumbers()"
      />
      <label for="useNumbers" class="ms-mian">Use Numbers</label>
    </div>

    <div>
      <input
        type="checkbox"
        name=""
        id="useSymbols"
        (change)="onChangeUsrSymbols()"
      />
      <label for="useSymbols" class="ms-mian">Use Symbols</label>
    </div>

    <div class="flex justify-center align-center mt-2">
      <button
        class="bg-blue-300 border border-blue-500 text-white rounded-2xl w-full p-1"
        (click)="genratePassword()"
        [disabled]="!(length && (useLetters || useNumbers || useSymbols))"
      >
        Genrate!
      </button>
    </div>

    <div *ngIf="password">
      <div class="mt-3 w-100 flex gap-1 items-center justify-center">
        <label for="output" class="text-md">Yor Password</label>
      </div>
      <input
        type="text"
        [value]="password"
        class="rounded-3xl border p-1 my-3 w-[100%] text-center"
      />
    </div>
  </div>
</div>

<!--

 -->
